<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Agenda</h1>
            <h3 class="mb-5">
                <em>¡Guarda todas tus citas!</em>
            </h3>
            <a href="/signin" class="btn btn-light mb-1 my-auto"> 
                Inicia Sesión
            </a>
            <br> <br>
            <a href="/signup" class="my-auto">¡Registrate!</a>
        </div>
    </header>
</main>